@charset "UTF-8";

/*
Typical Device Breakpoints:
---------------------------
Pequenas Telas: Até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: Acima de 1200px
*/


@media screen and (min-width: 768px) and (max-width:992px) {
#burger {
display: none;
}

menu {
display: block;
}

menu > ul > li {
display: inline-block;
}

main {
width: 768px;
}
}
